.class {
    margin: -20rpx .5em;
    margin: -0.5rem .5em;
    padding: 5rem 1rpx;
    padding: 5rem 0.025rem;
    border: 6rpx solid black;
    border: 0.15rem solid black;
    font-size: 22rpx;
    font-size: 0.55rem;
    line-height: 40rpx;
    line-height: 1rem;
}
.class2 {
    font-size: 32rpx;
    font-size: 0.8rem;
    font-size: 2rem;
    line-height: 1em;
}
@media (min-width: 750rpx) {
    .class3 {
        font-size: 32rpx;
        font-size: 0.8rem;
        line-height: 44rpx;
        line-height: 1.1rem;
    }
}

/*
.class {
    font-size: 16px;
}
*/
