.class {
    margin: -20rpx .5em;
    padding: 5rem 1rpx;
    border: 6rpx solid black;
    font-size: 22rpx;
    line-height: 40rpx;
}
.class2 {
    font-size: 32rpx;
    font-size: 2rem;
    line-height: 1em;
}
@media (min-width: 750rpx) {
    .class3 {
        font-size: 32rpx;
        line-height: 44rpx;
    }
}

/*
.class {
    font-size: 16px;
}
*/
